/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Typography

******************************************************************/

/*********************
FONT FACE
*********************/

@font-face {
    font-family: 'Bliss';
    src: url('../fonts/Bliss-Bold.woff2') format('woff2'),
        url('../fonts/Bliss-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss';
    src: url('../fonts/Bliss-Regular.woff2') format('woff2'),
        url('../fonts/Bliss-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// font stacks
$sans-serif:        "Bliss", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;