/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Button Styles

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS

Quick video guide:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
	position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
    padding: 1rem 2.5rem .8rem;
    margin: 0;
    cursor: pointer;
    text-align: center;
    clear: both;
    outline: none;
	@include transition(all 0.2s ease-in-out);

	// hovering on the btn
	&:hover, &:focus {
		color: $white;
		text-decoration: none;
	} // end hover

	// clicking on the button
	&:active {
		top: 1px;
	} // end active
	
	a {
		color: inherit !important;
		text-decoration: inherit !important;
	}
	
	&.disbaled,
	&:disabled,
	&:disabled[disabled] {
		background: $gray;
	}

} // end .button

.primary-btn, a.primary-btn {
	@extend %btn; // here we load the btn defaults
	background-color: $pink;
	border-color: $pink;
	color: $white;

	&:hover,
	&:focus {
		background-color: $white;
		color: $pink;
	} // end hover// end active
}

.secondary-btn, a.secondary-btn {
	@extend %btn; // here we load the btn defaults
	background-color: $gray;
	border-color: $gray;
	color: $white;
    float: none;
    width: 100%;

	&:hover,
	&:focus {
		background-color: $white;
		color: $gray;
	} // end hover// end active
    
    &.alt {
        background-color: $white;
		color: $gray;
        
        &:hover,
        &:focus {
            background-color: $gray;
            color: $white;
        }
    }
}

.primary-link {
	background: url(../images/icon-next.png) no-repeat center right;
	background-size: 1rem;
	padding: 6px 30px 3px 0;
	@include transition(all 0.2s ease-in-out);

	&:hover {
		padding-right: 40px;
	}
}