/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Button Styles

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS

Quick video guide:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
	position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
    padding: 1rem 2.5rem .8rem;
    margin: 0;
    cursor: pointer;
    text-align: center;
    clear: both;
    outline: none;
	@include transition(all 0.2s ease-in-out);

	// hovering on the btn
	&:hover, &:focus {
		color: $white;
		text-decoration: none;
	} // end hover

	// clicking on the button
	&:active {
		top: 1px;
	} // end active
	
	a {
		color: inherit !important;
		text-decoration: inherit !important;
	}
	
	&.disbaled,
	&:disabled,
	&:disabled[disabled] {
		opacity: .4;
	}

} // end .button

.primary-btn, a.primary-btn {
	@extend %btn; // here we load the btn defaults
	background-color: $pink;
	border-color: $pink;
	color: $white;

	&:hover,
	&:focus {
		background-color: $white;
		color: $pink;
	} // end hover// end active
    
    &.international {
        padding: 11px 10px 8px;
        
        &:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f0ac";
            vertical-align: middle;
            display: inline-block;
            margin-right: 6px;
        }
    }
}

.secondary-btn, a.secondary-btn {
	@extend %btn; // here we load the btn defaults
	background-color: $gray;
	border-color: $gray;
	color: $white;
    float: none;
    width: 100%;

	&:hover,
	&:focus {
		background-color: $white;
		color: $gray;
	} // end hover// end active
    
    &.alt {
        background-color: $white;
		color: $gray;
        
        &:hover,
        &:focus {
            background-color: $gray;
            color: $white;
        }
    }
}

.primary-link {
	background: url(../images/icon-next.png) no-repeat center right;
	background-size: 1rem;
	padding: 6px 30px 3px 0;
	@include transition(all 0.2s ease-in-out);

	&:hover {
		padding-right: 40px;
	}
}

#loader {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    display: none;
    
    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 51px;
        height: 51px;
        margin: 6px;
        border: 6px solid $pink;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $pink transparent transparent transparent;
        
        &:nth-child(1) {
          animation-delay: -0.45s;
        }
        
        &:nth-child(2) {
          animation-delay: -0.3s;
        }
        
        &:nth-child(3) {
          animation-delay: -0.15s;
        }
    }
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}