/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Desktop Stylsheet

******************************************************************/

html {
	font-size: 16px;
}

.wrap {
	> div {
		width: 930px;
	}
}

.header {
	font-size: 1rem;
}

.primary-nav {
	
    > li {
		ul.sub-menu,
		ul.children {
			padding: 1.2rem 0 1rem 2.5rem;

			li {
				padding: 0 1rem;

				a {
					font-size: 0.625rem;
				}

			}
		}
	}
}

.footer-links {
	ul {
		li {
			margin: 0 2rem;
		}
	}
}