/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Desktop Stylsheet

******************************************************************/

html {
	font-size: 16px;
}

.wrap {
	> div {
		width: 930px;
	}
}

.header {
	font-size: 1rem;
}

.footer-links {
	ul {
		li {
			margin: 0 2rem;
		}
	}
}