/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html {
	font-size: 12px;
}

body {
	font-family: $sans-serif;
	line-height: 1.3;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

#container {
	overflow: hidden;
}

img {
	height: auto;
	pointer-events: none;
	
	&.size-full {
		max-width: 100%;
		width: 100%;
	}
	
	&.alignleft {
		float: left;
	}
	
	&.alignright {
		float: right;
	}
	
	&.aligncenter {
		display: block;
		margin: auto;
	}
}

hr {
	margin: .5rem 0;
	height: 1px;
	width: 100%;
	background: $light-gray;
	border: none;
}

.aspect-ratio {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56%;
	margin: 0;
	
	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}

/********************
WORDPRESS BODY CLASSES
********************/

.blog {
	.entry-title {
		line-height: 1;
		font-size: 1em;
		height: 2rem;
		margin-top: 0.5em;
		
		a {
			color: lighten($black, 20%);
			font-size: 1.3em;
			
			&:hover, &:focus {
				color: lighten($black, 40%);
			}
		}
	}
	
	.posts-main {		
		.post {
			padding: 1.5rem;
			float: none;
		}
		
		p {
			margin: 0;
    		font-size: 0.9em;
			height: 2.5rem;
		}

		img {
			max-width: 100%;
		}
	}
	
	.image-thumb {
		display: block;
	}
}

.archive {
	@extend .blog;
}

.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */

.single {
}

//.blog, .archive, .single {
//}

/*********************
LAYOUT & GRID STYLES
*********************/

.flex {
	display: inline-block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	@include prefix(flex-direction, column, webkit ms);
	@include prefix(justify-content, space-around, webkit ms);

	.flex-panel {
		display: inline-block;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
		@include prefix(flex, 1 1 auto, webkit ms);
		@include prefix(justify-content, center, webkit ms);
		@include prefix(align-items, center, webkit ms);
		width: 100%;
		
		&:before {
			content:'';
			float:left;
			padding-top:90%;
		}
	}
}

.wrap, .wrap > div {
	width: 100%;
	margin: 0 auto;
}

.row {
	&.wrap {
		
	}
	
	&.full {
		padding: 0;
		
		[class*="col-"] {
			padding: 0;
		}
	}
	
	&.gradient {
		> div {
			@extend .flex;
		}
		
		h1, h2, h3, h4, h5, h6, h7, p, li, span, a {
			color: $white;
		}
		
		h2 {
			background: url(../images/flair-white.png) no-repeat left bottom;
			background-size: 5.5rem;
			padding-bottom: 1rem;
    		margin-bottom: 1.15rem;
		}
		
		[class*="col-"] {
			padding: 0;
			float: none;
			display: inline-block;
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-flex: 1;
			@include prefix(flex-direction, column, webkit ms);
			
			p, img {
				padding: 0;
				margin: 0;
			}
			
			p {
				font-size: 1.5rem;
			}
			
			a {
				background: url(../images/icon-next.png) no-repeat center right;
				background-size: 1rem;
				padding: 6px 30px 3px 0;
				@include transition(all 0.2s ease-in-out);
				
				&:hover {
					padding-right: 40px;
				}
			}
			
			&:first-child {
				@include css-gradient(darken($pink, 10),$pink);
				padding: 3rem;
			}
			
			&[class*="col-"]:not(.col-12):last-child {
				font-size: 0;
				
				p {
					font-size: 0;
				}
			}
		}
		
		.col-12 {
			p {
				font-size: 2em;
				font-weight: bold;
				width: 65%;
				margin: 2rem auto;
				line-height: 1.3;
			}
		}
	}
	
	&.alt {
		padding-bottom: 0;
		
		~ .row {
			padding-bottom: 0;
			padding-top: 0;
		}
		
		.col-12 {
			padding: 0;
			
			div {
				width: calc(70% - 2rem);
    			float: left;
			}
		}
		
		p, img {
			margin: 0;
		}
		
		h2 {
			margin-top: 2rem;
			background: url(../images/flair-pink.png) no-repeat left bottom;
			background-size: 6rem;
    		padding-bottom: 1rem;
		}
		
		img {
			width: 30%;
		}
		
		&:nth-child(odd) {
			.col-12 {
				padding-right: 3rem;
			}
			
			img {
				float: left;
				margin-right: 2rem;
			}
		}
		
		&:nth-child(even) {
			.col-12 {
				padding-left: 3rem;
			}
			
			img {
				float: right;
				margin-left: 2rem;
			}
		}
		
		&:nth-child(1), &:nth-child(4) {
			.col-12 {
				background: lighten($light-gray, 10%);
				padding-right: 3rem;
				padding-left: 0;
			}
			
			img {
				float: left;
				margin-right: 2rem;
				margin-left: 0;
			}
		}
		
		&:nth-child(2) {
			.col-12 {
				background: $gray;
				color: $white;
			}
		}
		
		&:nth-child(4) {
			.col-12 {
				background: $light-gray;
			}
		}
		
		&:nth-child(5) {
			.col-12 {
				background: lighten($light-gray, 10%);
				padding-left: 3rem;
				padding-right: 0;
			}
			
			img {
				float: right;
				margin-left: 2rem;
				margin-right: 0;
			}
		}
	}
	
	&.products-slider {
		padding-top: 0;
		padding-bottom: 0;
		
		.woocommerce.tax-product_cat & {
			padding-top: 3rem;
			padding-bottom: 3rem;
			
			h2 {
				margin: 0 0 1rem 4rem;
				font-size: 2.15em;
			}
		}
	}
}

.products {
	&[class*="col-"] {
		clear: none !important;
	}
}

.multiple-objects {
	padding: 0 3rem;
	
	.product {
		position: relative;
		margin: 1rem;
		opacity: 0.8;
		@include transition(opacity 0.2s ease-in-out);
		
		&:hover {
			opacity: 1;
		}
		
		.post-thumb {
			display: block;
		}
		
		.post-title {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			background: rgba(255,255,255,0.7);
			padding: 1rem;
			
			&:hover, &:focus {
				color: inherit;
			}
		}
		
		h3 {
			background: url(../images/flair-pink.png) no-repeat left bottom;
			background-size: 6rem;
			padding-bottom: 1.25rem;
			margin-bottom: 1.15rem;
		}
	}
	
	.slick-arrow {
		position: absolute;
		top: 50%;
		margin-top: -13px;
		width: 25px;
		height: 35px;
		font-size: 0;
		padding: 0;
		color: transparent;
		border: none;
		outline: none !important;
		background-size: 50px !important;
		@include transition(all 0.2s ease-in-out);
		
		&.slick-prev {
			background: url(../images/arrows.png) no-repeat 0 -35px;
			left: 10px;
			&:hover {
				left: 0;
			}
		}
		
		&.slick-next {
			background: url(../images/arrows.png) no-repeat -25px -35px;
			right: 10px;
			&:hover {
				right: 0;
			}
		}
	}
	
	.slick-dots {
		position: absolute;
		margin: 0;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		
		li {
			display: inline-block;
			margin: 0;
			padding: 0;
			
			button {
				font-size: 0;
				color: transparent;
				border: 2px solid $pink;
				border-radius: 50%;
				width: 15px;
				height: 15px;
				padding: 0;
				margin: 0 3px;
				outline: none !important;
			}
			
			&.slick-active button,
			&:hover button {
				background: $pink;
			}
		}
	}
}

/*********************
LINK STYLES
*********************/

a {
	color: $link-color;
	text-decoration: none;
	outline: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5, P STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	line-height: 1.2;
	
	a {
		text-decoration: none;
	}
	
	&:first-of-type {
		margin-top: 0;
	}
}

h1, .h1 {
	font-size: 3.2em;
	line-height: 1.2;
	margin-top: 0;
}

h2, .h2 {
	font-size: 2.75em;
	margin: .35em 0 .5em;
}

h3, .h3 {
	font-size: 1.75em;
	margin: 1em 0 0.5em;
}

h4, .h4 {
	font-size: 1.5em;
	font-weight: normal;
	margin: 0.25em 0;
}

h5, .h5 {
	font-size: 1.2em;
}

p, .p {
	line-height: 1.5;
	font-size: 1.2em;
	margin: 0.85em 0 1.2em;
	font-weight: normal;
}

.copy-l {
	font-size: 150% !important;
}

.copy-xl {
	font-size: 180% !important;
}

.narrow-para {
	max-width: 80%;
	margin-left: auto !important;
	margin-right: auto !important;
}

.nowrap {
	white-space: nowrap;
	color: inherit;
	font-weight: inherit;
}

/*********************
HEADER STYLES
*********************/

.header {
	background: none;
	font-size: 1rem;
	position: fixed;
	width: 100%;
	z-index: 999;
	
	&.active {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 999;
		
		.primary-nav {
			max-height: 1000px;
			max-height: 100vh;
			padding-top: 8rem;
			overflow-y: scroll;
		}
		
		.menu-button {
			position: absolute;
			z-index: 9999;
			left: 0;
			right: 0;
			left: auto;
			background-position: -31px 0;
		}
	}
}

.logo {
	position: relative;
	z-index: 10;
	width: 130px;
	display: block;
    float: left;
	font-size: 0;
	margin: 0 3rem;
	
	.home & {
		position: absolute;
		width: 13rem;
		margin: 1.25rem 3rem;
	}
	
	img {
		max-width: 100%;
		height: auto;
	}

	a {
		color: $black;
	}
}

/*********************
NAVIGATION STYLES
*********************/

.menu-button {
	float: right;
	margin: 1.2rem 1.25rem 1.1rem;
	line-height: 1;
    font-size: 2.4em;
	background-image: url(../images/menu-button.png);
	background-repeat: no-repeat;
	background-size: 60px;
	background-position: 0 0;
	width: 30px;
	height: 24px;
	@include transition(all 0.3s ease-in-out);
}

.nav {
	.menu-item {
		display: block;
	}
}

.primary-nav {
	position: fixed;
	margin: 0 auto;
	padding: 1.5rem 0;
	text-align: center;
	max-height: 0px;
	max-height: 0vh;
    overflow: hidden;
	width: 100%;
	height: 100%;
	background: lighten($alt-blue, 15%);
	@include transition(all 0.2s ease-in-out);
	
	li {
		a {
			font-weight: 900;
			font-size: 1.4em;
			color: $white;
		}
	}
	
	> li {
		vertical-align: top;
		cursor: pointer;
		position: relative;
		
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
    		transform: translate(-50%, 0);
		}
		
		&.current-product-parent,
		&.current-menu-item,
		&.current-product_cat-ancestor {
			&:after {
				position: absolute;
				content: '';
				width: 0; 
				height: 0;
				left: 50%;
				bottom: -3rem;
				transform: translate(-50%, 0);
				border-left: 1.5rem solid transparent;
				border-right: 1.5rem solid transparent;
				border-top: 1.5rem solid $light-gray;
			}
		}
		
		&.icon-xray_shielding {
			&:before {
				background: url(../images/icon-xray_shielding.png) no-repeat 0 0;
				background-size: 55px;
				width: 55px;
				height: 64px;
			}
			
			&:hover:before,
			&.current-product-parent:before,
			&.current-menu-item:before,
			&.current-product_cat-ancestor:before {
				background-position: 0 -64px;
			}
		}
		
		&.icon-imaging_accessories {
			&:before {
				background: url(../images/icon-imaging_accessories.png) no-repeat 0 0;
				background-size: 60px;
				width: 60px;
				height: 60px;
				top: 4px;
			}
			
			&:hover:before,
			&.current-product-parent:before,
			&.current-menu-item:before,
			&.current-product_cat-ancestor:before {
				background-position: 0 -60px;
			}
		}
		
		&.icon-operating_lamps {
			&:before {
				background: url(../images/icon-operating_lamps.png) no-repeat 0 0;
				background-size: 45px;
				width: 45px;
				height: 69px;
			}
			
			&:hover:before,
			&.current-product-parent:before,
			&.current-menu-item:before,
			&.current-product_cat-ancestor:before {
				background-position: 0 -69px;
			}
		}
		
		&.icon-protective_clothing {
			&:before {
				background: url(../images/icon-protective_clothing.png) no-repeat 0 0;
				background-size: 55px;
				width: 55px;
				height: 57px;
				top: 6px;
			}
			
			&:hover:before,
			&.current-product-parent:before,
			&.current-menu-item:before,
			&.current-product_cat-ancestor:before {
				background-position: 0 -57px;
			}
		}
		
		&.icon-suspension_systems {
			&:before {
				background: url(../images/icon-suspension_systems.png) no-repeat 0 0;
				background-size: 60px;
				width: 60px;
				height: 58px;
				top: 4px;
			}
			
			&:hover:before,
			&.current-product-parent:before,
			&.current-menu-item:before,
			&.current-product_cat-ancestor:before {
				background-position: 0 -58px;
			}
		}
		
		&.icon-bespoke {
			&:before {
				background: url(../images/icon-bespoke.png) no-repeat 0 0;
				background-size: 55px;
				width: 55px;
				height: 65px;
			}
			
			&:hover:before,
			&.current-product-parent:before,
			&.current-menu-item:before,
			&.current-product_cat-ancestor:before {
				background-position: 0 -65.5px;
			}
			
			&.current-product-parent,
			&.current-menu-item,
			&.current-product_cat-ancestor {
				&:after {
					bottom: -4rem;
				}
			}
		}
		
		> a {
			position: relative;
			padding: 5em 3em 0;
			display: block;
			text-decoration: none;
			text-align: center;
			border-bottom: 1px solid $white;
			@include transition(all 0.2s ease-in-out);
			
			br {
				display: none;
			}
		}
		
		&.mobile-links {
			a {
				font-weight: normal;
				font-size: 1.2em;
				border: none;
				padding: 2rem 0 1rem;
			}
		}
		
		ul.sub-menu,
		ul.children {
			overflow: hidden;
			background: $alt-blue;
			margin: 0 -2.5rem;
			padding: 0;
			z-index: 10;
			max-height: 0;
			@include transition(max-height 0.2s ease-in-out);
			
			&.active {
				max-height: 550px;
			}

			li {
				padding: 0 2.5em;
				@media only screen and (min-width: 1370px) {
					padding: 0 2rem !important;
					padding: 0 2.5vw !important;
				}

				a {
					display: block;
					padding: 1.35rem 0 1rem;
					outline:0;
					text-align: left;
					border-bottom: 1px solid $white;
					
					&:hover,
					&:focus {						
						text-decoration:none;
						opacity:0.8;
					}
				}
			}
		}
	}
}

.socket {
	display: none;
}


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	position: relative;
	font-size: 1rem;
}

.featured-image {
	width: 270%;
    margin-left: -85%;
	position: relative;
	overflow: hidden;
	font-size: 0;
}

.hero-title {
	position: absolute;
	font-size: 1rem;
	bottom: 0;
	left: 0;
	margin: 3.75rem 3rem;
	z-index: 999;
	color: $white;
	
	h1 {
		font-size: 5.5em;
    	margin: 0 0 20px;
    	padding-bottom: 8px;
		background: url(../images/flair-white.png) no-repeat left bottom;
		background-size: 1em;
	}
	
	p {
		max-width: 40%;
		font-size: 1.85em;
		line-height: 1.2;
    	margin: 0;
	}
}

.page-title {
	font-size: .8rem;
	z-index: 100;

	h1 {
		margin: 0;
		font-size: 4.5em;
		line-height: 1;
		text-transform: uppercase;
	}

	p {
		font-size: 1.2em;
		font-weight: 500;
		line-height: 1.3;
		margin: 0;
		width: 61%;
	}

	h1, h2, h3, h4, h5, p {
		color: $white;
	}
}

.hentry {
} /* end .hentry */

.single-title,
.entry-title {
	margin: 0;
}

/* post meta */
.byline {
	color: lighten($black, 20%);
	margin: 0;

	time {}
}

.post-item {
	padding: 10px;
	
	.post-thumb {
		display: block;
	}
	
	img {
		max-width: 100%;
	}
}

.archive-title, .single-title {
	text-align: center;
	color: $gray;
	margin-bottom: 0;
}

.archive-description {
	text-align: center;
}

.entry-content:not(.full) {
	> div {
		max-width: 1800px;
    	margin: auto;
	}
}

.entry-content {
	padding: 1rem 3rem;
	font-size: .9rem;

	ul, ol, table, dl {}

	ul, ol {

		li {}

	}

	ul {
		list-style-type: disc;
		margin-bottom: 2em;

		li {
			font-size: 1.15em;
			margin-bottom: .5em;
			padding-left: 1em;
			list-style-type: none;
		}
	}
	
	.list {
		margin-top: 2.5em;
		
		&.list-2col {
			@include prefix(columns, 2, webkit moz);
		}
		
		&.list-icons {
			li {
				padding-left: 1.85em;
				margin-bottom: 2.5em;
				background-size: 1.25em !important;
			}
		}
	}

	ol {

		li {}

	}

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-gray;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid $blue;
		font-style: italic;
		color: $meta-gray;

		&:before {}

	}

	dl {}

	dt {}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}
}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

// the tag output
.tags {
	margin: 0;
	color: $black;
	
	a {
		color: lighten($black, 40%);
		text-decoration: none;
	}
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination {
 		text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
		
		&:last-child {
			border: none;
		}
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $white;
		background-color: $blue;
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0 0.5rem;
	margin: 1.5rem 0 0;
	line-height: 1.3;
	border-bottom: 1px solid $pale-green;

}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5rem 10px;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: lighten($black, 40%);
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

		}

		.avatar {
			position: absolute;
			left: 10px;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 15px 0 15px 7px;
	}
}

/* comment content */
.comment_content {

	p {
		margin: 0.7335em 0 1.5em;
		font-size: 1em;
		line-height: 1.5em;
	}

} /* end .commentlist .comment_content */

/* comment reply link */
a.comment-reply-link {
	@extend .primary-btn;
	font-size: 0.9em;
	float: right;
	padding: 0.3em 0;
	min-width: 5em;

	&:hover,
	&:focus {
	}

} /* end .commentlist .comment-reply-link */

/* edit comment link */
.comment-edit-link {
	font-style: italic;
	margin: 0 7px;
	text-decoration: none;
	font-size: 0.9em;
}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5rem 0;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .primary-btn;
		float: right;
		font-size: 0.9em;
		padding: 0.3em 0;
		min-width: 8em;
		margin-right: 0;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	padding: 0;

.product-cats {
	padding: 0;
	margin: 0;

	.category {
		padding: 1.5rem 0;
		margin: 0;
		max-width: 60%;
		border-bottom: 1px solid lighten($gray, 15%);

		&:hover, &:focus, &.current {
			a {
				color: $pink;
			}
		}

		&:first-child {
			padding-top: 0;
		}
	}
}
}

.widgettitle {}

.widget {

	ul {

		li {

			&:first-child {}

			&:last-child {}

			a {}

			/* deep nesting */
			ul {}

		}

	}

}

.no-widgets {
	background-color: $white;
	padding: 1.5em;
	text-align: center;
	border: 1px solid $border-color;
	border-radius: 2px;
	margin-bottom: 1.5em;
}

.bespoke-message {
	position: relative;
	
	.widget {
		margin: 0;
		padding: 0;
		
		&.widget_text {
			position: absolute;
			width: 70%;
			left: 50%;
			margin: 5rem 0 0 -35%;
			color: $white;
			
			h3 {
				font-size: 2.25em;
			}
			
			p {
				font-size: 2em;
    			line-height: 1.3;
				margin: .5rem 0;
			}
		}
		
		&.widget_media_image {
			font-size: 0;
		}
	}
}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	padding: 1.25rem 3rem;
	margin-top: 2rem;
	background: $gray;
	position: relative;
	
	a, p, li {
		color: $white;
	}
	
	.widget {
		margin: 0;
		padding: 0;
	}
	
	.col-6 {
		padding: 0;
	}
	
	.footer-right {
		p {
			width: 48%;
			float: left;
		}
	}
}

.footer-links {
	clear: both;
	position: relative;
	z-index: 20;
	margin: 3rem 0;
	
	ul {
		margin: 0;
		border: none;
		text-align: center;
		list-style-type: none;

		li {
			display: inline-block;
			border: none;
			margin: 2rem;
			font-size: 1.3em;
			
			a {
				display: inline-block;
				text-transform: none;
				padding: 0;
				margin: 0;
				font-size: 1em;
				text-decoration: none;
				border: none;
				
				&:hover, &:focus {
					text-decoration: underline;
				}
			}
			
			&:first-child {
				a {
					margin-left: 0;
				}
			}
		}

	}
}

.copyright {
	float: left;
	font-size: 0.85em;
	margin: 0 0 0 2em;
    text-align: center;
}


/*********************
WOOCOMMERCE
*********************/

.woocommerce-product-gallery__wrapper a {
	cursor: default !important;
}

.woocommerce.single-product,
.woocommerce.tax-product_cat {
	.entry-content {
		padding-bottom: 0;
	}
	
	.footer {
		margin-top: 0;
	}
}

.woocommerce.post-type-archive {
	.woocommerce-products-header {
		h1 {
			&.page-title {
				display: none;
			}
		}
	}
}

.woocommerce.tax-product_cat {
	.woocommerce-products-header {
		h1 {
			font-size: 3em;
    		margin: .5rem 0 2rem;
		}
	}
	
	.loop-wrapper {
		background: lighten($light-gray, 5%);
		width: calc(100% + 6rem);
		margin-left: -3rem;
		padding: 3rem;
	}
	
	#container .woocommerce-breadcrumb {
		margin-bottom: 0;
	}
}

.woocommerce {
	table.shop_table {
		border-radius: 0;
	}
}

.woocommerce #container {
	.woocommerce-breadcrumb {
		margin: 0 0 2rem;
		color: $pink;
		
		a {
			color: $gray;
		}
	}
	
	ul.products {
		.woocommerce-LoopProduct-link {
			display: block;
			position: relative;
			
			img {
				margin-bottom: 0;
			}
			
			.shop-loop-title {
				padding: 1rem;
				background: $white;
				
				.woocommerce-loop-product__title {
					font-size: 1.35em;
					color: $black;
					background: url(../images/flair-pink.png) no-repeat left bottom;
					background-size: 5rem;
					padding-bottom: 1.15rem;
					margin-bottom: 1rem;
				}
				
				p {
					font-size: 1em;
				}
			}
		}
	}
	
	div.product {
		.product_title {
			font-size: 2.75em;
		}
		
		div.images {
			.woocommerce-product-gallery__image {
				&:nth-child(n+2) {
					width: 49%;
					margin-right: 2%;
				}
				
				&:last-child {
					margin-right: 0;
				}
			}
		}
		
		.sku {
			margin: 0;
			font-size: 1.75em;
			background: url(../images/flair-gray.png) no-repeat left bottom;
			background-size: 100px;
			padding-bottom: 1rem;
		}
		
		form.cart {
			.variations {
				td.label {
					width: 80px;
				}
			}
		}
		
		.quantity {
			label {
				width: auto;
				height: auto;
				position: relative !important;
				display: inline-block;
				font-weight: bold;
			}
			
			.qty {
				display: inline-block;
				margin-right: 10px;
				margin-left: 10px;
			}
		}
		
		.product-extras-wrapper {
			margin-bottom: 2rem;
			border-bottom: 1px solid $light-gray;
			
			.extras-description {
				margin-bottom: 2rem;
			}
			
			.extras-downloads,
			.extras-accreditations {
				width: 50%;
				padding-top: 2rem;
				padding-bottom: 2rem;
				border-top: 1px solid $light-gray;
			}
			
			&.full-width {
				.extras-downloads,
				.extras-accreditations {
					width: 100%;
				}
			}
			
			.extras-downloads {
				float: left;
			}
			
			.extras-accreditations {
				float: right;
				border-left: 1px solid $light-gray;
				padding-left: 2rem;
			}
			
			.product-downloads {
				font-size: 1.15em;
			}
			
			.product-accreditations {
				margin-bottom: 0;
				padding-left: 0;
				
				li {
					display: inline-block;
					list-style-type: none;
					
					img {
						max-width: 100px;
						margin: 0;
					}
				}
			}
			
			h2 {
				font-size: 2.15em;
			}
			
			ul {
				padding-left: 1.15em;

				li {
					padding-left: 0;
					list-style: disc;
				}
			}
		}
		
		.product-video {
			max-width: 70%;
			margin: 2rem auto;
		}
		
		.upsells {
			background: darken($gray, 10%);
			width: calc(100% + 6rem);
    		margin-left: -3rem;
			padding: 3rem;
			
			> h2 {
				margin: 0 0 1rem 4rem;
				color: $white;
				font-size: 2.15em;
			}
			
			.multiple-objects .slick-arrow.slick-next {
				background: url(../images/arrows.png) no-repeat -25px 0;
			}
			
			.multiple-objects .slick-arrow.slick-prev {
				background: url(../images/arrows.png) no-repeat 0 0;
			}
			
			.woocommerce-LoopProduct-link {
				position: relative;
				display: block;
				
				.shop-loop-title {
					position: absolute;
					width: 100%;
					left: 0;
					bottom: 0;
					padding: 1rem;
					background: rgba(255,255,255,0.8);
					
					h2 {
						font-size: 1.75em;
						margin-bottom: 1rem;
						padding-bottom: 1rem;
						background: url(../images/flair-pink.png) no-repeat left bottom;
						background-size: 2.7em;
						
						span {
							display: none;
						}
					}
					
					p {
						margin-bottom: 0;
					}
				}
			}
			
			.slick-dots {
				bottom: -27px;
				
				li button {
					border: none;
				}
			}
		}
	}
}

.woocommerce-cart {
	.woocommerce {
		table.cart {
			.product-thumbnail {
				width: 130px;
				padding: 18px;
				
				a {
					display: block;
					font-size: 0;
				}
			}
			
			.product-remove, img {
				width: 100px;
			}
		} 
	}
}

.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt,
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
	border-radius: 0;
	background: $pink;
	padding: 0.75rem 2.5rem;
	border: 2px solid $pink;
	color: $white;
	@include transition(all 0.3s ease-in-out);

	&:hover {
		color: $pink;
		background: $white;
	}

	&:disabled {
		color: $white !important;
	}
}

.woocommerce-checkout #payment ul.payment_methods {
	display: none;
}

#add_payment_method #payment, 
.woocommerce-cart #payment, 
.woocommerce-checkout #payment {
	border-radius: 0;
}

.woocommerce-info {
    border-top-color: $pink;
	
	&:before {
		color: $pink;
	}
}

.woocommerce-order .woocommerce-table__product-name {
	img {
		width: 110px;
		display: block;
		margin: 10px 0;
	}
}